---
layout: default
---
{%- assign _posts = site.posts |  where_exp : "item", "item.categories contains 'blog'" | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	<ul>
		{%- for _post in _posts -%}
			<li><a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a></li>
		{%- endfor -%}
	</ul>
</div>