---
layout: default
---
{%- assign _posts = site.posts |  where_exp : "item", "item.categories contains 'blog'" | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	<article class="shade-two">
		<div class="container">
			<ul>
				<!-- Posts List -->
				{%- for _post in _posts -%}
					<li>{{_post.date | date: "%Y %m %d"}}<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a></li>
				{%- endfor -%}
			</ul>
		</div>
	</article>
</div>